$color-white: #fff;
$color-black: #000;
$cell-border: #ddd;
$cell-height: 2rem;
$cell-background: transparent;
$cell-width: 2rem;
$row-digits-backgound: rgba(#eee, .02);
$row-digits-width: 8.5rem;
$row-digits-color: #fff;
$column-digits-height: 8.5rem;
$cell-fill-background: rgba(#449, .8);
$cell-empty-background: $color-black;

body {
  font-family: 'Trebuchet MS', 'Lucida Sans', Tahoma, sans-serif;
  margin: 0;
}

body,
.wrapper {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@for $i from 1 through 10 {
  body.bg-#{$i} {
    background-image: url('images/backgrounds/#{$i}.jpg');

    .wrapper {
      background-image: url('images/backgrounds/#{$i}-blurred.jpg');
    }
  }
}


html {
  font-size: 14px;
}

@media screen and (max-height: 1150px), screen and (max-width: 1150px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-height: 1000px), screen and (max-width: 1000px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-height: 800px), screen and (max-width: 800px) {
    html {
        font-size: 8px;
    }
}

[ui-view="app"] {
    height: 100vh;
}

// Box sizing
*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 1rem;
}

// clearfix
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.game {
  display: flex;
  height: 100%;
  margin: 0 auto;
  position: relative;

  .wrapper {
    border: 1px solid rgba($color-white, .2);
    border-radius: 5px;
    box-shadow: 0 20px 30px rgba($color-black, .6);
    margin: auto;
    position: relative;
    text-shadow: 0 1px 1px rgba($color-black, .4);
  }
}

.board {
  left: $row-digits-width;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: $column-digits-height;

  li {
    background: $cell-background;
    border: 1px solid rgba($cell-border, .05);
    cursor: pointer;
    float: left;
    height: $cell-height;
    width: $cell-width;

    span {
      display: block;
      height: $cell-height;
      width: $cell-width;

      @each $prefix in ('' '-moz-' '-webkit-') {
        #{$prefix}user-select: none;
      }
    }

    &.empty {
      background: $cell-empty-background;
      border: 0 none;
    }

    &.fill {
      background: $cell-fill-background;
      border: 0 none;
    }

    &.last {
      clear: left;
    }
  }
}

// Rows numbers
.row-digits {
  background: $row-digits-backgound;
  float: left;
  padding-top: $column-digits-height;
  width: $row-digits-width;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-top: 1px solid rgba($color-white, .1);
      color: $row-digits-color;
      display: block;
      height: $cell-height;
      line-height: $cell-height;
      padding: 0 10px;
      text-align: right;
    }
  }
}

// Rows numbers
.column-digits {
  background: $row-digits-backgound;
  float: left;
  height: $column-digits-height;

  ul {
    display: table;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-left: 1px solid rgba($color-white, .1);
      color: $row-digits-color;
      display: table-cell;
      font-size: 1rem;
      height: $column-digits-height;
      padding: 10px 0;
      text-align: center;
      vertical-align: bottom;
      width: $cell-height;
    }

    span {
      display: block;
    }
  }
}
