<!-- tofo inline styling is hmmmm :( -->
<div class="game blurred-bg">
    <div class="wrapper">
        <div class="row-digits clearfix">
            <ul class="legend rows">
                <li ng-repeat="row in board.x">
                    <span ng-if="playing">{{ row.join(' - ') }}</span>
                </li>
            </ul>
        </div>
        <div class="column-digits clearfix">
            <ul>
                <li ng-repeat="column in board.y">
                    <span ng-if="playing" ng-repeat="n in column track by $index">{{ n }}</span>
                </li>
            </ul>
        </div>
        <ul class="board clearfix">
            <li ng-repeat="cell in board.cells"
                ng-class="{
                    fill: cell.status == 1,
                    empty: cell.status == 2,
                    last: cell.last == true,
                }"
                ng-click="cell.changeStatus()"
                >
                <span>{{ cell.status == 2 ? '×' : '' }}</span>
            </li>
        </ul>
    <div>
<div>
<button
    class="circle-button play"
    ng-class="{pause: !playing}"
    ng-click="startPlaying();">
    {{ playing ? 'Pause' : (timer === 0 ? 'Start game' : 'Resume')}}
</button>
<div class="circle-button timer" ng-class="{pause: !playing}">{{timer | timer}}</div>
<button class="circle-button hint" ng-class="{pause: !playing}" ng-click="showHint();">Hint</button>
<button class="circle-button choose-board" ng-class="{pause: !playing}" ng-click="showBoardSelector = !showBoardSelector">Board</button>
<div class="board-list" ng-class="{open: showBoardSelector}">
    <ul>
        <li ng-repeat="board in boards">
            {{ board.name}}
        </li>
    </ul>
</div>
<select ng-model="board"
    ng-options="board as board.name for board in boards"
    style="position: fixed;bottom: 40px; left: 40px;"
></select>
